@import url("https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Poppins", sans-serif;
}

.container {
  display: flex;
  width: 90%;
  min-height: 80vh;
  align-items: center;
  margin: 0 100px;
}

.logo {
  margin: 30px 100px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #1a0bee;
  font-size: 15px;
  font-weight: 400;
}

.logo-color {
  color: #e26453;
}

.hero-right-col,
.hero-left-col {
  flex-basis: 50%;
}
.hero-right-col img {
  width: 100%;
}

.hero-left-col {
  flex-basis: 50%;
  text-align: left;
  justify-content: space-between;
}

.header-text {
  max-width: 500px;
  margin-top: 140px;
  justify-content: center;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

.underline {
  height: 2px;
  width: 250px;
  border-radius: 20px;
  background: #e26453;
  display: inline-block;
  margin: 20px 0;
}

p {
  margin-top: 35px;
  font-size: 20px;
  line-height: 20px;
  color: #777;
}

.cta {
  padding: 18px 30px;
  background-color: transparent;
  border: 2px solid #e26453;
  font-weight: bolder;
  cursor: pointer;
  margin: 40px 0;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 30px;
  color: #e26453;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  background: #e26453;
  z-index: 2;
  transition: 0.6s;
  margin-left: 50px;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fafafa;
}

#menuBtn {
  width: 50px;
  position: fixed;
  top: 30px;
  right: 65px;
  z-index: 2;
  cursor: pointer;
}

/*-----About-------*/

#about {
  display: flex;
  padding: 100px 0;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
  justify-content: space-between;
}

.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

.about-text p {
  text-align: right;
}

.about-text h2 {
  font-size: 18px;
  font-style: italic;
}

.about-text h3 {
  font-size: 15px;
  font-style: italic;
  color: #797979;
}

#features {
  padding: 50px 0;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 100px;
}

.feature-col h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.feature-col p {
  font-size: 15px;
}

.feature-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
  flex-basis: 50%;
}
.contact-right-col img {
  width: 100%;
}

form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #110483;
  box-shadow: none;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}

.btn-box button.cta-signup {
  flex-basis: 48%;
  padding: 18px 30px;
  background: #110483;
  outline: none;
  font-weight: bolder;
  cursor: pointer;
  margin: 40px 0;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  color: #fafafa;
}

#footer {
  padding: 50px 0 30px;
}

.footer-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4 {
  color: #110483;
  margin-bottom: 20px;
}

.link-title small {
  font-size: 13px;
}

.footer-right-col {
  flex-basis: 35%;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-text {
  flex-basis: 40%;
  margin-top: 8px;
}

.footer-logo h2 {
  font-size: 15px;
}

.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  color: #110483;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .container {
    flex-direction: column;
    width: 80%;
    margin: 0 50px;
  }

  .logo {
    margin: 27px 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1a0bee;
    font-size: 13px;
    font-weight: bolder;
  }

  .logo-color {
    color: #e26453;
  }

  .header-text {
    margin-top: 100px;
  }

  .hero-left-col {
    text-align: left;
  }
  h1 {
    font-size: 25px;
    margin: 10px auto;
  }

  #menuBtn {
    width: 40px;
    right: 50px;
  }

  .cta {
    padding: 10px 16px;
  }
  .social-icons img {
    width: 14px;
    margin: 15px auto;
  }

  .about-right-col,
  .about-left-col {
    flex-basis: 100%;
  }

  .about-right-col {
    text-align: left;
  }

  .about-text {
    margin: 50px 50px 0;
    display: inline-block;
  }

  .about-text p {
    text-align: left;
  }

  .about-text h2 {
    font-size: 14px;
    font-style: italic;
  }

  .feature-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .feature-btn {
    margin: 40px auto;
  }

  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }

  .cta {
    padding: 18px 15px;
  }

  .btn-box button.cta-signup {
    flex-basis: 48%;
    padding: 20px 20px;
  }

  .footer-left-col,
  .footer-right-col {
    flex-basis: 100%;
  }

  .footer-row {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .link-title {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}
